-f https://download.pytorch.org/whl/torch_stable.html
-f https://dl.fbaipublicfiles.com/detectron2/wheels/cu101/torch1.7/index.html

datasets==1.6.2
torch==1.13.1
torchvision==0.8.2+cu101
transformers==4.30.0
detectron2==0.3
seqeval==1.2.2
certifi>=2023.7.22 # not directly required, pinned by Snyk to avoid a vulnerability